
.board {


  display: grid;
    border: solid 1px black;
    grid-auto-rows: 50px;
    grid-auto-columns: repeat (3, 50px);
    grid-gap: 5px;
  
}

.cell{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;

  
}