body{
  background-color: rgb(170, 172, 174);

}
.App {
  text-align: center;
 
}


.board{
  margin-top: 60px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  justify-content: center;
 
}

.cell{
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

.logo{
 display: flex;
 flex-direction: column;
 margin-top: 12px;
 align-items: center;
 justify-content: center;

}

.backgroundWhite{
  background-color: white;
}

.backgroundBlack{
  background-color: black;
}
.backGroundFocus{
  background-color: rgb(245, 233, 12);
}

.green{
    color: rgb(6, 203, 72);
}

.red {
  color: rgb(255, 6, 6);
}